
MASTER_KEY=D0+bTaY6WYFNjhxxw7LbrcgE4Wd3WfZT7hFxJg/n4DU=
DATABASE_URL="host=127.0.0.1 port=5432 user=postgres password=test dbname=gateway sslmode=disable"
PORT=":3001"
APP_ENV="development"
ALLOW_PRIVATE_WEBHOOK_URLS="true"
MNEMONIC_PHRASE="banner uniform imitate profit enable evoke boil road science hero match source dutch lake tongue reason predict off secret pen angry short play panel"
TRON_GRPC_ENDPOINTS="grpc.trongrid.io:50051"

OIDC_ISSUER_URL="https://login.researchcave.com"

OIDC_AUTH_URL="https://login.researchcave.com/oauth2/authorize"
OIDC_TOKEN_URL="https://login.researchcave.com/oauth2/token"
OIDC_USERINFO_URL="https://login.researchcave.com/oauth2/userinfo"

OIDC_PROVIDER_NAME="RESEARCHCAVE"
OIDC_CLIENT_ID="kewlswap-gateway"
OIDC_CLIENT_SECRET="YOUR_OIDC_CLIENT_SECRET_KEY_HERE"
OIDC_REDIRECT_URI="http://localhost:3000/auth/oidc/callback"
OIDC_SCOPES="openid,profile,email,roles"
